body {
    font-family: Tahoma;
    color: #444;
    letter-spacing: 1px;
}

#app {
    width: 90%;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;
}

#banner {
    background: #eee;
    padding: 10px 0;
}

#banner h3,
#banner p {
    text-align: center;
    margin: 10px 0;
}

#button {
    padding-left: 1000px;
}

#button button {
    box-shadow: 5px blue;
}

#list {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    padding-top: 55px;
}

#list h5 {
    padding-bottom: 23px;
}

table {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

#inputData h4 {
    text-align: center;
}

#inputData {
    width: 60%;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid lightgray;
}

input {
    padding: 7px;
    border: 1px solid lightgray;
    border-radius: 6px;
    width: 60%;
}

#inputData div {
    text-align: center;
}

#inputData button {
    margin-bottom: 11px;
}


.error{
    color:red;
    font-size: 15px;
}

.okay{
   color:green;
}

/*validation css
input:invalid{
    border-color: #900;
    background-color: #FDD;
  }

  input:focus:invalid {
    outline: none;
  }


  .error {
    width  : 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .error.active {
    padding: 0.3em;
  }
*/
